* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: linear-gradient(120deg, #00f1e5 0%, #9b0027 100%);
    color: rgb(0, 94, 57);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header{
    font-size: 2rem;
  }
  
  header,
  form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: rgb(67, 21, 151);
  }
  form button{
    color: #c24238;
    background: #0d5f56;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover{
    background: #032fbe;
    color: rgb(158, 209, 17);
  }
  .cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .data {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: rgb(216, 84, 84);
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .flr {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .dump,
  .done {
    background: #03a742;
    color: rgb(187, 87, 87);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .done {
    background: rgb(0, 124, 93);
  }
  .doit {
    padding: 0rem 0.5rem;
  }
  
  .fa-dump,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .comp {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .teil {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: hsl(172, 100%, 25%);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }
  /* Arrow */
  .teil::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #140400;
    cursor: pointer;
    pointer-events: none;
  }
  /* Transition */
  /*  */
  .teil:hover::after {
    transform: scale(1.5);
  }
 
