* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(120deg, #00f1e5 0%, #9b0027 100%);
    color: rgb(0, 94, 58);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    
  }
  
  header,
  form {
    
  }
  form input,
  form button {
    
  }
  form button {
    
  }
  form button:hover {
    
  }
  .cont {
    
  }
  
  .data {
    
  }
  
  .todo {
    
  }
  .Jobs {
    
  }
  .todo li {
    
  }
  
  .trash-btn,
  .complete-btn {
    
  }
  .complete-btn {
    
  }
  .todo-item {
    
  }
  
  .fa-trash,
  .fa-check {
    
  }
  
  .fall {
    
  }
  
  .completed {
    
  }
  
  teil {
    
  }
  
  .teil {
    
  }
  teil {
    
  }
  /* Arrow */
  .teil::after {
    
  }
  /* Transition */
  /*  */
  .teil:hover::after {
    
  }
 
